
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @await Component.InvokeAsync("_DefaultFeatureComponentPartial")
    @await Component.InvokeAsync("_DefaultHomePageProductList")
    @await Component.InvokeAsync("_DefaultHomePageWhoWeAre")
    @await Component.InvokeAsync("_DefaultHomePageOurServices")
    @await Component.InvokeAsync("_DefaultHomePagePopularLocation")
    @await Component.InvokeAsync("_DefaultHomePageOurClients")
    @await Component.InvokeAsync("_DefaultHomePageExtras")
    @await Component.InvokeAsync("_DefaultHomePageTipsandAdvices")
    @await Component.InvokeAsync("_DefaultHomePageSupportUs")




</body>
</html>