<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <img src="https://i.hizliresim.com/mog5uqo.png"  style="height:80px  ;" />
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Emre Dinç</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-tachometer-alt me-2"></i>Veriler</a>
                <div class="dropdown-menu bg-transparent border-0">
                  
                    <a href="/Chart/Index" class="text-black-50 nav-link alert-primary"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/Chart/Index" class="text-black-50 nav-link alert-primary"><i class="fas fa-chart-line"></i> Grafikler</a>
                    <a href="/Statistics/Index" class="text-black-50  nav-link alert-primary"><i class="far fa-chart-bar"></i> İstatistikler</a>
                </div>
            </div>
            <a href="/Category/Index/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Kategoriler</a>
            <a href="/Employee/Index/" class="nav-item nav-link"><i class="fas fa-users"></i>Personeller</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fas fa-handshake"></i>İlanlar</a>         
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-network-wired"></i>Apiler</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="far fa-question-circle"></i>Biz Kimiz</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-concierge-bell"></i>Hizmetler</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-search-location"></i>Lokasyonlar</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-satellite"></i>Günün Fırsatları</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-tachometer-alt me-2"></i>İletişim</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/Chart/Index" class="text-black-50  nav-link alert-primary"><i class="fas fa-mail-bulk"></i>Mail Abonelikler</a>
                    <a href="/Chart/Index" class="text-black-50  nav-link alert-primary"><i class="fas fa-comments"></i>İletişim Bilgileri</a>
                    <a href="/Chart/Index" class="text-black-50  nav-link alert-primary"><i class="fas fa-comment"></i>Gelen Mesajlar</a>
                </div>
            </div>
           
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-tools"></i>Ayarlar</a>
            <a href="/Chart/Index" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i>Çıkış Yap</a>




           
        </div>
    </nav>
</div>